<div class="container-fluid article-container">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="panel panel-default">
        
          <div id="articles"></div>
          <button class="btn.save">Save Article</button>
        
      </div>
    </div>

    <div class="col-xs-12 col-sm-3">
      <div class="panel panel-default">
        <div id="notes"></div>
      </div>
    </div>
  </div>
</div>

<script src="../../assets/javascript/app.js"></script>